.site-header {
  background: blue;
  background: linear-gradient(30deg,#7558A5,#2132BF);
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 245px;
  color: white;
  text-align: center;
  border: none;
  padding: 20px 0;
  
  height: 100%;
  position: absolute;
  width: 100%;
  box-sizing: border-box;
  
  svg {
    display: block;
    margin: 0 auto;
  }
}

.site-title, 
.site-title:visited {
  float: none;
  text-align: center;
  letter-spacing: 0;
  color: white;
  margin: 50px 0 10px 0;
}

a.btn {
  padding: 10px 20px;
  display: inline-block;
  border-radius: 3px;
  background: white;
  
  text-decoration: none;
  color: #2132BF;
  
  &:hover {
    opacity: .9;
  }
}